.♠️ {
    color: black;
    /* margin-top: -45px; */
}

.♣️ {
    color: black;
    /* margin-top: -45px; */
}

.♥️ {
    color: red;
    /* margin-top: -45px; */
}

.♦️ {
    color: red;
    /* margin-top: -45px; */
}

.card-blank { height:74px; width: 55px; text-align: center;}

.♣️2 { background: url(/support/deck/clubs.2.svg); height: 74px; width: 55px;}
.♣️3 { background: url(/support/deck/clubs.3.svg); height: 74px; width: 55px;}
.♣️4 { background: url(/support/deck/clubs.4.svg); height: 74px; width: 55px;}
.♣️5 { background: url(/support/deck/clubs.5.svg); height: 74px; width: 55px;}
.♣️6 { background: url(/support/deck/clubs.6.svg); height: 74px; width: 55px;}
.♣️7 { background: url(/support/deck/clubs.7.svg); height: 74px; width: 55px;}
.♣️8 { background: url(/support/deck/clubs.8.svg); height: 74px; width: 55px;}
.♣️9 { background: url(/support/deck/clubs.9.svg); height: 74px; width: 55px;}
.♣️10 { background: url(/support/deck/clubs.10.svg); height: 74px; width: 55px;}
.♣️A { background: url(/support/deck/clubs.Ace.svg); height: 74px; width: 55px;}
.♣️K { background: url(/support/deck/clubs.King.svg); height: 74px; width: 55px;}
.♣️Q { background: url(/support/deck/clubs.Queen.svg); height: 74px; width: 55px;}
.♣️J { background: url(/support/deck/clubs.Jack.svg); height: 74px; width: 55px;}
.♦️2 { background: url(/support/deck/diamonds.2.svg); height: 74px; width: 55px;}
.♦️3 { background: url(/support/deck/diamonds.3.svg); height: 74px; width: 55px;}
.♦️4 { background: url(/support/deck/diamonds.4.svg); height: 74px; width: 55px;}
.♦️5 { background: url(/support/deck/diamonds.5.svg); height: 74px; width: 55px;}
.♦️6 { background: url(/support/deck/diamonds.6.svg); height: 74px; width: 55px;}
.♦️7 { background: url(/support/deck/diamonds.7.svg); height: 74px; width: 55px;}
.♦️8 { background: url(/support/deck/diamonds.8.svg); height: 74px; width: 55px;}
.♦️9 { background: url(/support/deck/diamonds.9.svg); height: 74px; width: 55px;}
.♦️10 { background: url(/support/deck/diamonds.10.svg); height: 74px; width: 55px;}
.♦️A { background: url(/support/deck/diamonds.Ace.svg); height: 74px; width: 55px;}
.♦️K { background: url(/support/deck/diamonds.King.svg); height: 74px; width: 55px;}
.♦️Q { background: url(/support/deck/diamonds.Queen.svg); height: 74px; width: 55px;}
.♦️J { background: url(/support/deck/diamonds.Jack.svg); height: 74px; width: 55px;}
.♥️2 { background: url(/support/deck/hearts.2.svg); height: 74px; width: 55px;}
.♥️3 { background: url(/support/deck/hearts.3.svg); height: 74px; width: 55px;}
.♥️4 { background: url(/support/deck/hearts.4.svg); height: 74px; width: 55px;}
.♥️5 { background: url(/support/deck/hearts.5.svg); height: 74px; width: 55px;}
.♥️6 { background: url(/support/deck/hearts.6.svg); height: 74px; width: 55px;}
.♥️7 { background: url(/support/deck/hearts.7.svg); height: 74px; width: 55px;}
.♥️8 { background: url(/support/deck/hearts.8.svg); height: 74px; width: 55px;}
.♥️9 { background: url(/support/deck/hearts.9.svg); height: 74px; width: 55px;}
.♥️10 { background: url(/support/deck/hearts.10.svg); height: 74px; width: 55px;}
.♥️A { background: url(/support/deck/hearts.Ace.svg); height: 74px; width: 55px;}
.♥️K { background: url(/support/deck/hearts.King.svg); height: 74px; width: 55px;}
.♥️Q { background: url(/support/deck/hearts.Queen.svg); height: 74px; width: 55px;}
.♥️J { background: url(/support/deck/hearts.Jack.svg); height: 74px; width: 55px;}
.♠️2 { background: url(/support/deck/spades.2.svg); height: 74px; width: 55px;}
.♠️3 { background: url(/support/deck/spades.3.svg); height: 74px; width: 55px;}
.♠️4 { background: url(/support/deck/spades.4.svg); height: 74px; width: 55px;}
.♠️5 { background: url(/support/deck/spades.5.svg); height: 74px; width: 55px;}
.♠️6 { background: url(/support/deck/spades.6.svg); height: 74px; width: 55px;}
.♠️7 { background: url(/support/deck/spades.7.svg); height: 74px; width: 55px;}
.♠️8 { background: url(/support/deck/spades.8.svg); height: 74px; width: 55px;}
.♠️9 { background: url(/support/deck/spades.9.svg); height: 74px; width: 55px;}
.♠️10 { background: url(/support/deck/spades.10.svg); height: 74px; width: 55px;}
.♠️A { background: url(/support/deck/spades.Ace.svg); height: 74px; width: 55px;}
.♠️K { background: url(/support/deck/spades.King.svg); height: 74px; width: 55px;}
.♠️Q { background: url(/support/deck/spades.Queen.svg); height: 74px; width: 55px;}
.♠️J { background: url(/support/deck/spades.Jack.svg); height: 74px; width: 55px;}

.♣️2-small { background: url(/support/deck/clubs.2.svg); height: 24px; width: 18px;}
.♣️3-small { background: url(/support/deck/clubs.3.svg); height: 24px; width: 18px;}
.♣️4-small { background: url(/support/deck/clubs.4.svg); height: 24px; width: 18px;}
.♣️5-small { background: url(/support/deck/clubs.5.svg); height: 24px; width: 18px;}
.♣️6-small { background: url(/support/deck/clubs.6.svg); height: 24px; width: 18px;}
.♣️7-small { background: url(/support/deck/clubs.7.svg); height: 24px; width: 18px;}
.♣️8-small { background: url(/support/deck/clubs.8.svg); height: 24px; width: 18px;}
.♣️9-small { background: url(/support/deck/clubs.9.svg); height: 24px; width: 18px;}
.♣️10-small { background: url(/support/deck/clubs.10.svg); height: 24px; width: 18px;}
.♣️A-small { background: url(/support/deck/clubs.Ace.svg); height: 24px; width: 18px;}
.♣️K-small { background: url(/support/deck/clubs.King.svg); height: 24px; width: 18px;}
.♣️Q-small { background: url(/support/deck/clubs.Queen.svg); height: 24px; width: 18px;}
.♣️J-small { background: url(/support/deck/clubs.Jack.svg); height: 24px; width: 18px;}
.♦️2-small { background: url(/support/deck/diamonds.2.svg); height: 24px; width: 18px;}
.♦️3-small { background: url(/support/deck/diamonds.3.svg); height: 24px; width: 18px;}
.♦️4-small { background: url(/support/deck/diamonds.4.svg); height: 24px; width: 18px;}
.♦️5-small { background: url(/support/deck/diamonds.5.svg); height: 24px; width: 18px;}
.♦️6-small { background: url(/support/deck/diamonds.6.svg); height: 24px; width: 18px;}
.♦️7-small { background: url(/support/deck/diamonds.7.svg); height: 24px; width: 18px;}
.♦️8-small { background: url(/support/deck/diamonds.8.svg); height: 24px; width: 18px;}
.♦️9-small { background: url(/support/deck/diamonds.9.svg); height: 24px; width: 18px;}
.♦️10-small { background: url(/support/deck/diamonds.10.svg); height: 24px; width: 18px;}
.♦️A-small { background: url(/support/deck/diamonds.Ace.svg); height: 24px; width: 18px;}
.♦️K-small { background: url(/support/deck/diamonds.King.svg); height: 24px; width: 18px;}
.♦️Q-small { background: url(/support/deck/diamonds.Queen.svg); height: 24px; width: 18px;}
.♦️J-small { background: url(/support/deck/diamonds.Jack.svg); height: 24px; width: 18px;}
.♥️2-small { background: url(/support/deck/hearts.2.svg); height: 24px; width: 18px;}
.♥️3-small { background: url(/support/deck/hearts.3.svg); height: 24px; width: 18px;}
.♥️4-small { background: url(/support/deck/hearts.4.svg); height: 24px; width: 18px;}
.♥️5-small { background: url(/support/deck/hearts.5.svg); height: 24px; width: 18px;}
.♥️6-small { background: url(/support/deck/hearts.6.svg); height: 24px; width: 18px;}
.♥️7-small { background: url(/support/deck/hearts.7.svg); height: 24px; width: 18px;}
.♥️8-small { background: url(/support/deck/hearts.8.svg); height: 24px; width: 18px;}
.♥️9-small { background: url(/support/deck/hearts.9.svg); height: 24px; width: 18px;}
.♥️10-small { background: url(/support/deck/hearts.10.svg); height: 24px; width: 18px;}
.♥️A-small { background: url(/support/deck/hearts.Ace.svg); height: 24px; width: 18px;}
.♥️K-small { background: url(/support/deck/hearts.King.svg); height: 24px; width: 18px;}
.♥️Q-small { background: url(/support/deck/hearts.Queen.svg); height: 24px; width: 18px;}
.♥️J-small { background: url(/support/deck/hearts.Jack.svg); height: 24px; width: 18px;}
.♠️2-small { background: url(/support/deck/spades.2.svg); height: 24px; width: 18px;}
.♠️3-small { background: url(/support/deck/spades.3.svg); height: 24px; width: 18px;}
.♠️4-small { background: url(/support/deck/spades.4.svg); height: 24px; width: 18px;}
.♠️5-small { background: url(/support/deck/spades.5.svg); height: 24px; width: 18px;}
.♠️6-small { background: url(/support/deck/spades.6.svg); height: 24px; width: 18px;}
.♠️7-small { background: url(/support/deck/spades.7.svg); height: 24px; width: 18px;}
.♠️8-small { background: url(/support/deck/spades.8.svg); height: 24px; width: 18px;}
.♠️9-small { background: url(/support/deck/spades.9.svg); height: 24px; width: 18px;}
.♠️10-small { background: url(/support/deck/spades.10.svg); height: 24px; width: 18px;}
.♠️A-small { background: url(/support/deck/spades.Ace.svg); height: 24px; width: 18px;}
.♠️K-small { background: url(/support/deck/spades.King.svg); height: 24px; width: 18px;}
.♠️Q-small { background: url(/support/deck/spades.Queen.svg); height: 24px; width: 18px;}
.♠️J-small { background: url(/support/deck/spades.Jack.svg); height: 24px; width: 18px;}